/*
Theme Name: Project Name
Theme URI: http://#project_url
Author: iConcept Global Advertising Inc.
Author URI: http://www.iconcept.com.ph
Description: This is "Project Name" theme developed and design by iConcept Global Advertising Inc. and approved by the clients needs and wants.
Version: 1.0
License: 
License URI: 
Tags: 
Text Domain: Project Name 

*/

/* Fonts */

/* CSS */
html, body { margin: 0;padding: 0; }
h1, h2, h3, h4, h5, h6 {margin: 0px;padding: 0;line-height: normal; }
p, a, dl, dd, th, td, address, li { margin: 0px;}
ul { margin: 0; }
a:hover { text-decoration: none; }

.container-table {
	display: table;
	height: 100%;
	width: 100%;
}

.container-cell {
	display: table-cell;
	vertical-align: middle;
}

/* Header */

/* Footer */